<div class="container text-center"><h3>Custom-Pipe Search Input</h3></div>
<div class="container w-50">
    <label for="exampleFormControlInput1" class="form-label">Search Item</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search Item Here"[(ngModel)]="SearchText">
</div>
<div class="container w-50 border text-center mt-3">
    <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">PName</th>
            <th scope="col">price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody *ngIf="(productList | customPipe2: SearchText).length > 0; else noRecords">
          <tr *ngFor="let product of productList | customPipe2:SearchText; let i = index">
           <ng-container>
            <th scope="row">{{i+1}}</th>
            <td>{{product.productName}}</td>
            <td>{{product.price}}</td>
            <td>{{product.qty}}</td>
           </ng-container>
          </tr>
        </tbody>
          <ng-template #noRecords>
            <tr>
                <td colspan="4" class="text-center alert alert-danger">
                    No Records Found
                </td>
            </tr>
          </ng-template>
      </table>
     
      
</div>
